<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>270769326739-7miudipqkr90ov359alarin69nqv3b50.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKsY3Ac5_kf8k1MayXgLAEFNCcpXo8paI</string>
	<key>GCM_SENDER_ID</key>
	<string>270769326739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lilianTest</string>
	<key>PROJECT_ID</key>
	<string>maps-333402</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-333402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270769326739:ios:4f323e65ad1eaf6f525b66</string>
	<key>DATABASE_URL</key>
	<string>https://maps-333402-default-rtdb.firebaseio.com</string>
</dict>
</plist>